<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-glyphicons.css" rel="stylesheet" type="text/css">
    <title>HowTo-Test</title>
</head>
<body>

<div class="navbar">

    <a class="navbar-brand" href="#">Horse-B</a>

    <div class="nav-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#add">Add</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Kategorien <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                </ul>
            </li>
            <li>
                <form class="navbar-form">
                    <input type="text" class="form-control" style="width: 200px;" placeholder="Suchbegriff">
                    <button type="submit" class="btn btn-default">Suchen</button>
                </form>
            </li>
            <li><a href="#login">Login</a></li>
        </ul>


    </div>
    <!--/.nav-collapse -->
</div>
<div id="main" class="container">


</div>


<script type="text/template" id="template-Schritt">
    <div class="well">
        <h3 id="schrittTitel"><%- schrittTitel %></h3>

        <p id="beschreibung"><%= beschreibung %></p>
    </div>
</script>

<script type="text/template" id="template-TitelHeader">
    <div class="page-header">
        <h1><%- haupttitel %>
            <small><%- untertitel %></small>
        </h1>
    </div>
</script>

<script type="text/template" id="template-MaterialListe">
    <table class="table table-striped">

    </table>
</script>

<script type="text/template" id="template-Material">
    <table class="table table-striped">
        <td><%- beschreibung %></td>
        <td><%- url %></td>
    </table>
</script>

<script type="text/template" id="template-TitelEdit">
<div class="row">
    <div class="form-group">
        <label for="haupttitel">Titel:</label>
        <input type="text" class="form-control" id="haupttitel" value="<%- haupttitel %>">
    </div>
    <div class="form-group">
        <label for="untertitel">Untertitel:</label>
        <input type="text" charset="ISO" class="form-control" id="untertitel" value="<%- untertitel %>">
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <input type="button" class="btn btn-success" id="speichern" value="Speichern">

        <input type="button" class="btn btn-default" id="addMaterial" value="Material hinzufügen">

        <input type="button" class="btn btn-default" id="addSchritt" value="Schritt hinzufügen">
    </div>
</div>
<div class="row">
    <table class="table table-striped" id="materialContainer"></table>
</div>
<div class="row" id="schrittContainer">
</div>

</script>


<script type="text/template" id="template-MaterialListEdit">
    <td><%- beschreibung %></td>
    <td><%- url %></td>
    <td><input type="button" class="btn btn-small btn-default" id="editMaterial" value="Editieren"></td>
    <td><input type="button" class="btn btn-small btn-danger" id="removeMaterial" value="Löschen"></td>
</script>

<script type="text/template" id="template-MaterialEdit">
    <div id="materialEditModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Material</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="matBeschreibung">Beschreibung</label>
                        <input type="text" class="form-control" id="matBeschreibung" value="<%- beschreibung %>">
                    </div>

                    <div class="form-group">
                        <label for="matURL">URL</label>
                        <input type="text" class="form-control" id="matURL" value="<%- url %>">
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="delete" class="btn btn-danger">Löschen</button>
                    <button id="saveMaterial" class="btn btn-primary">Speichern</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="template-SchrittListEdit">
    <div class="well">
        <h3 id="schrittTitel"><%- schrittTitel %></h3>

        <p id="beschreibung"><%= beschreibung %></p>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-8">
                <button id="deleteSchritt" class="btn btn-small btn-danger">Löschen</button>
                <button id="editSchritt" class="btn btn-small btn-default">Bearbeiten</button>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="template-SchrittEdit">

    <div class="modal" id="schrittEditModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <div class="form-group">
                        <label for="schrittTitelIn">Titel:</label>
                        <input type="text" id="schrittTitelIn" class="form-control" value="<%- schrittTitel %>">
                    </div>


                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="schritt-textarea">Beschreibung</label>

                        <div id="toolbar" class="btn-toolbar">

                            <div class="btn-group">
                                <a class="btn btn-default" data-wysihtml5-command="bold"><span
                                        class="glyphicon glyphicon-bold"></span></a>
                                <a class="btn btn-default" data-wysihtml5-command="italic"><span
                                        class="glyphicon glyphicon-italic"></span></a>
                                <a class="btn btn-default" data-wysihtml5-command="underline"><span
                                        class="glyphicon glyphicon-italic"></span></a>

                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default" data-wysihtml5-command="insertOrderedList"><span
                                        class="glyphicon glyphicon-list"></span></a>
                                <a class="btn btn-default" data-wysihtml5-command="insertUnorderedList"><span
                                        class="glyphicon glyphicon-list"></span></a>
                            </div>
                            <div class="btn-group">

                                <a class="btn btn-default" data-wysihtml5-command="insertImage"><span
                                        class="glyphicon glyphicon-picture"></span></a>


                                <a class="btn btn-default" data-wysihtml5-command="createLink"><span
                                        class="glyphicon glyphicon-share"></span></a>


                            </div>

                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-wrench"></span> <span
                                        class="caret"></span>
                                </button>
                                <ul id="materialUseList" class="dropdown-menu">
                                    <!--render Material template-materialUseEntry -->
                                </ul>
                            </div>
                            <div class="btn-group">
                                <div data-wysihtml5-dialog="insertImage" style="display: none;">
                                    <input data-wysihtml5-dialog-field="src" value="http://">
                                    <a class="btn btn-success btn-small" data-wysihtml5-dialog-action="save">OK</a>
                                    <a class="btn btn-danger btn-small"
                                       data-wysihtml5-dialog-action="cancel">Verwerfen</a>
                                </div>

                                <div data-wysihtml5-dialog="createLink" style="display: none;">
                                    <input data-wysihtml5-dialog-field="href" value="http://" class="text">
                                    <a class="btn btn-success btn-small" data-wysihtml5-dialog-action="save">OK</a>
                                    <a class="btn btn-danger btn-small"
                                       data-wysihtml5-dialog-action="cancel">Verwerfen</a>
                                </div>
                            </div>

                        </div>


                        <textarea class="form-control" id="schritt-textarea" rows=15
                                  placeholder="Beschreibung einfügen ..." autofocus><%= beschreibung %></textarea>


                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-danger" id="deleteSchritt">Schritt verwerfen</button>
                    <button class="btn btn-success" id="saveSchritt">Schritt speichern</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="template-materialUseEntry">
    <li><a id="materialUse" name="<%- beschreibung %>"><%- beschreibung %></a></li>
</script>

<script type="text/template" id="template-AnleitungList">
    <a href="#show/<%- id %>"><%- haupttitel %></a><a class="btn btn-link" href="#edit/<%- id %>">Bearbeiten</a>
</script>


<script src="js/jquery-1.9.1.js"></script>
<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>
<script src="js/backbone-relational.js"></script>
<script src="js/backbone.localStorage.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/advanced.js"></script>
<script src="js/wysihtml5-0.3.0.js"></script>
<script src="js/model/model.js"></script>
<script src="js/view/views.js"></script>
<script src="js/view/viewsEdit.js"></script>
<script src="js/router/router.js"></script>

<script type="text/javascript">
    (function ($) {
        var nav = new NavigationView({ el: $('#side') });
        var app = new App();

        Backbone.history.start();
        /* var anleitung = new Anleitung();
         var a = new AnleitungView({
         el : $('#main'),
         model : anleitung
         });
         a.render();  */
    })(jQuery);


</script>
</body>
</html>